<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.TenPlog" version="0.89" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>TenPLog</name>
    <description>
        TP log book.
    </description>
    <author email="olol85@gmail.com" href="mailto:olol85@gmail.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <icon src="icon.png" />
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <gap:plugin name="nl.x-services.plugins.calendar" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="www/res/icon/android/icon36.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="www/res/icon/android/icon48.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="www/res/icon/android/icon72.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="www/res/icon/android/icon96.png" />
    <icon gap:platform="winphone" src="www/res/icon/windows-phone/icon-48.png" />
    <icon gap:platform="winphone" gap:role="background" src="www/res/icon/windows-phone/icon-173-tile.png" />
    <icon src="www/res/icon/ios/Icon-120.png" gap:platform="ios" width="120" height="120" />
    <icon src="www/res/icon/ios/Icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="www/res/icon/ios/Icon-152.png" gap:platform="ios" width="152" height="152" />
    <icon src="www/res/icon/ios/Icon-57.png" gap:platform="ios" width="57" height="57" />
    <icon src="www/res/icon/ios/Icon-72.png" gap:platform="ios" width="72" height="72" />



    <access origin="*" />
</widget>
