a:link {
    text-decoration: none;
    color: #0033CC;
}

a:visited {
    text-decoration: none;
    color: #0033CC;
}

a:hover {
    text-decoration: none;
    color: #0033CC;
}

a:active {
    text-decoration: none;
    color: #0033CC;
}

.button {
display:inline-block;
text-align: center;
text-decoration: none;
font-weight: bold;
min-width: 50px;
width: 150px;
padding:15px;
color: #000000;
background-color: #AAAAAA;
}


